@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
body {
	background-color: #F8F8F8;
	font-family: 'Noto Sans KR', sans-serif;
}

header, footer {
	background-color: white;
	height: 60px;
	position: fixed; 
	left: 0;
	right: 0;
}

header {
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer {
	bottom: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

#dataContainer {
	width: 23em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	margin-left: 20px;
}

#progressDots {
	width: 15em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

main {
	margin-top: 75px;
}


progress {
	height:25px;
	width:100%;
}

.correct{
	background-color:#CFF2CE;
}

.incorrect{
	background-color:#F2CAD0;
}

.highlight {
	border-radius: 5px;
	padding: 5px;
}

.unfinished {
	background-color: white;
	border: 0.5px solid;
}

.wideCard {
	background-color: white;
	box-shadow: 6px 7px 3px -4px rgba(0,0,0,0.5);
	padding-bottom: 8px;
}

.wideCard, .language, header {
	padding-left: 15px;
}

.smallCard {
	background-color: white;
	box-shadow: 6px 7px 3px -4px rgba(0,0,0,0.5);
	margin-right: 220px;
	margin-left: 220px;
	padding: 15px;
}

.cardQuizStart {
	line-height: 70%;
}


.submitBtn {
	border: solid;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin-right: 15px;
}

.endPractice {
	background-color: white;
	color: #50A7F2;
	border-color: #50A7F2;
}

.checkAnswer {
	background-color: #50A7F2;
	color: white;
	border-color: #50A7F2;
}

.startQuiz {
	background-color: #D3D3D3;
	color: grey;
	border-color: #D3D3D3;
	border-radius: 5px;
	margin-left: 220px;
	margin-top: 15px;
}

a{
	color: #1B25F2;
}

.dots {
	height: 25px;
	width: 25px;
	border-radius: 25px;
	border: 0.5px solid grey;
}

.formText {
	font-size: 1.1em; 
	color: grey; 
}

.formLogIn, .formReg {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	line-height: 10px;
	margin-top: 40px;
}


@media all and (max-width: 1000px) {
	.smallCard {
		margin-right: 60px;
		margin-left: 60px;
	}

	.startQuiz {
		margin-left: 60px;
	}

@media all and (max-width: 600px) {
	.smallCard {
		margin-right: 30px;
		margin-left: 30px;
	}

	.startQuiz {
		margin-left: 30px;
	}
